name: Tests
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    - cron: '0 0 * * 0'
jobs:
  linux_osx:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        ruby: [2.5, 2.6, 2.7, head]
    runs-on: ${{ matrix.os }}
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    steps:
      - uses: actions/checkout@v2
        with:
          repository: neovim/neovim-ruby
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      - name: Bundle install
        run: |
          bundle config set path vendor/bundle
          bundle install --jobs 3 --retry 3
      - name: Install Neovim
        env:
          BUILD: nightly
        run: bundle exec rake ci:download_nvim
      - name: Run tests
        env:
          NVIM_EXECUTABLE: "_nvim/bin/nvim"
        run: bundle exec rake spec
  windows:
    strategy:
      fail-fast: false
      matrix:
        ruby: [2.5, 2.6, 2.7] # msgpack not supported on windows on 2.8 yet
    runs-on: windows-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    steps:
      - uses: actions/checkout@v2
        with:
          repository: neovim/neovim-ruby
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      - name: Bundle install
        run: |
          bundle config set path vendor/bundle
          bundle install --jobs 3 --retry 3
      - name: Install Neovim
        uses: crazy-max/ghaction-chocolatey@v1
        with:
          # TODO: Install `--pre` once nightly release is fixed:
          # https://github.com/neovim/neovim/issues/13312
          args: install neovim -fy --ignore-dependencies --ignore-checksums
      - name: Run tests
        env:
          NVIM_EXECUTABLE: 'C:\tools\neovim\Neovim\bin\nvim'
        run: bundle exec rake spec
